TRUENAS_URI="<insert trueNAS API URI>"
API_KEY="<insert key here>"
LOCAL_BACKUP_PATH="<insert path here>"
REMOTE_BACKUP_PATH="<insert path of mount>"
TRUENAS_SHARE_PATH="<insert share path>"
BITWARDEN_PATH="<path to bitwarden bwdata dir>"
